{% extends 'base.html' %}
{% load static %}


{% block body %}
<style>
    /* styles.css */
.movie-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control, textarea {
    width: 100%; /* Make the form controls take up the full width */
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Optional: Style for form validation error messages */
.error-message {
    color: #dc3545;
    margin-top: 5px;
}


</style>
<div class="container mt-4">
    <form method="POST" enctype="multipart/form-data" class="movie-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}
